:root {
    --panel-white-color: rgba(255,255,255,0.8);
    --panel-dark-color: rgba(0,0,0,0.1);
}
@media (min-width: 1400px) {
    .container{
        max-width: 1300px;
    }
}
.bkg-white-color {
    background-color: var(--panel-white-color);
}
.bkg-dark-color {
    background-color: var(--panel-dark-color);
}
/*.dropdown-toggle::after {
    display: none;
}*/
body {
    background: lightgray url(../img/circles-and-roundabouts-2.png) repeat fixed;
    background-size: auto;
}
/*.navbar-nav > li > a:hover{
    background-color: lightgray;
}*/
.no-background {
    background: none;
}
/*.category-title {
    font-size:20px;
}*/
.category-logo {
    font-size:40px;
}
.border-bottom {
    border: thin none var(--panel-dark-color);
    border-bottom-style: solid;
}
.border-top {
    border: thin none var(--panel-dark-color);
    border-top-style: solid;
}
.font-small {
    font-size:14px;
}
.font-medium {
    font-size:18px;
}
.navbar-nav .nav-item .nav-link {
    color: black;
}
.navbar-nav .nav-item .nav-link:hover {
    color: royalblue;
    background-color: lightgray;
}
a {
    color:black;
}
/*a :hover {
    text-decoration: none;
}*/
.text-black {
    color: black;
}
.container .row .col-sm-12 a {
    background-color: rgba(255,255,255,0.4);
    /*size: 35px 30px;*/
    width: 35px;
    height: 35px;
    vertical-align: middle;
}
.navbar-nav .dropdown-item:hover {
    background-color: lightgray;
    color: royalblue;
}
.dropdown-menu {
    min-width:0px;
}




/* login, register, changepw */
.title-size{
    font-size: 25px;
}
.btn-size{
    width: 100px;
    padding-left: 6px;
    padding-right: 6px;
}
.bkg-white-color2{
    background-color: rgba(255,255,255,0.4);
}
@media screen and (max-width: 768px){
    .h-line{
        width: 200px;
        height: 2px;
        background-color: gray;
    }
}
@media screen and (min-width: 768px){
    .v-line{
        width: 2px;
        height: 250px;
        background-color: gray;
    }
}




/* account management */
.d-inline-flex .d-inline-flex:hover{
    cursor: pointer;
    background-color: lightgray;
    text-decoration: none;
}
.page-link {
    color: black;
    font-size:14px;
}
@media screen and (max-width: 768px){
    .nav2{
        display: none;
    }
}
@media screen and (min-width: 768px){
    .nav1{
        display: none;
    }
}
.big-title{
    font-size: 70px;
}
.fill-space{
    letter-spacing: 2em;
}
.user-center-input-size{
    width: 179.6px;
    height: 30px;
}
/* #my-carousel{
    width: 800px;
    height: 600px;
} */
#account-nav > span:hover{
    cursor: pointer;
    color: royalblue;
}
#account-content span:hover{
    cursor: pointer;
    color: royalblue;
}
#fav:hover{
    cursor: pointer;
}
#login-card{
    height: 470px;
}
#myTab a{
    background-color: rgba(255, 255, 255, 0);
}
#myTab .active{
    border-bottom-color: rgba(255, 255, 255, 0.6);
}
#center-row .fa{
    width: 39px;
}
#center-row .text-right{
    width: 64px;
}
#center-university{
    width: 179.6px;
}
/* input, select{
    -webkit-appearance: none;
    appearance :none;  
} */
.no-click{
    pointer-events: none;
}

.break-word {
    word-wrap: break-word;
    word-break: break-all;
}