<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AboutUs</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>

</head>
<body>
<div class="container px-0">
<nav class="navbar navbar-expand-md  navbar-light my-4 p-0 bkg-white-color">
    <!-- Brand -->
    <a class="navbar-brand pl-3" href="{{mainpage_url}}"><img src="/static/img/unfunlistLogo2.gif" alt="logo image" style="width:130px;"></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse text-uppercase justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link p-4" href="{{mainpage_url}}">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-4" href="{{user_url}}">{{user_name}}</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle p-4" href="#" id="navbardrop" data-toggle="dropdown">
                  {{university_name}}
              </a>
              <div class="dropdown-menu border-0 rounded-0 w-100 bkg-white-color">
                {% for name in university_list %}
                <a class="dropdown-item py-3" href="/mainpage/{{name}}/">{{name}}</a>
                {% endfor %}
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link p-4" href="{{about_url}}">关于我们</a>
            </li>
        </ul>
    </div>
</nav>
</div>
<main class="container my-5">
    <section class="row justify-content-center">
        <div class="col-md-5 m-2">
            <div class="card no-background border-0 text-center">
                <div class="card-header d-flex flex-row justify-content-center align-items-top bkg-white-color py-4 rounded-0 border-0">
                    <div>
                        <img class="card-img-top" src="/static/img/unfunlistLogo2.gif" alt="ufunlist logo" style="width:250px;">
                    </div>
                    <div>
                        <span class="badge badge-dark m-0 mt-3" >beta</span>
                    </div>
                </div>
                <div class="card-body bg-white px-5 pb-5">
                    <h5 class="card-title py-3">本网站由吉林大学学生团队设计制作</h5>
                    <p class="card-text text-justify pb-1 m-0" style="text-indent: 2em">
                        本网站由吉林大学2014级计算机学院唐敖庆理科实验班学生设计制作，设计制作人员有：
                        庞在余、陈天霸、刘童、范洪宇、刘咸泽。
                    </p>
                    <p class="card-text text-justify pb-1 m-0" style="text-indent: 2em">
                        本网站的成功运行离不开吉林大学计算机学院的支持以及张浩老师的悉心指导，在此特向他们表示感谢。
                    </p>
                    <p class="card-text text-justify pb-1 m-0" style="text-indent: 2em">
                        任何通过使用Ufunlist而获取到的第三方信息均系他人制作或提供，您可能从该第三方信息上获得资讯及享用服务，
                        Ufunlist对其合法性概不负责，亦不承担任何法律责任。
                    </p>
                    <p class="card-text text-justify pb-3" style="text-indent: 2em">
                        本网站所有的产品、技术与所有程序均属于吉林大学知识产权。
                    </p>

                </div>
            </div>
        </div>
    </section>
</main>
<footer class="container bkg-dark-color p-2">
    <div class="row ">
        <div class="col-sm-12 text-center">Copyright &copy; 2017 Jilin University </div>
    </div>
</footer>
</body>
</html>